@CHARSET "UTF-8";

body {
	font-family: 'Arial';
	color:#333;
	/*background-color:#0c0d12;*/
	background-color: #eee;
	font-size:14px;
	
}
a, a.active, a.visited{
	text-decoration:none;
	color: #eee; 	
}
nav.top_menu {
	font-size:12px;
	letter-spacing:-0.8pt;
	color: #ddd;
	position: fixed;
	width: 100%;
	height: 2em;
	padding: 0.5em 0 0 0.5em;
	min-width:700px;
	border-bottom:1px solid #111;
	

background: #292a2d; /* Old browsers */
background: -moz-linear-gradient(top,  #292a2d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292a2d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #292a2d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #292a2d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #292a2d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #292a2d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292a2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}
nav.menu{
	border-bottom: 3px groove #fff;
	padding:0.5em;
	margin-bottom:1em;
}
nav.menu a{
	color:#111;
}

.outer{
	margin: 0 0;
}
.logo{
	background: url(../img/logo.png) no-repeat;
	background-size: auto 80px;
	position:relative;
	top:2.5em;
	width:100%;
	height:120px;
}
.inline{
	display:inline;
}



table.events_table{
	width:100%;
	vertical-align:middle;
	text-align:center; 
}
table.events_table th{
	color: #222;
}
table tr.event_row{
	padding: 20px; 	
/*	background-color: #13151b;*/ /* dark version */
	background-color: #AAA;
	border-bottom:1em solid #eee;
}
table tr.event_row td{
	padding:1em;
}
tr.event_row:nth-child(even){
	background-color: #ccc;
}
tr.event_row td:nth-child(odd){
	background-color: #bbb;
}
td.edit{
	background-color: #345;
}
.container{
	margin: 0 auto;
	width: 80%;
	min-width:700px;
}
