<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/main-servlet.xml</param-value>
	</context-param>



	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<url-pattern>/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/addEvent</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/</form-login-page>
			<form-error-page>/logonError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>CreateNewEvent</servlet-name>
		<servlet-class>pl.nonamesevent.servlet.ServletCreateEvent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateNewEvent</servlet-name>
		<url-pattern>/createNewEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>main</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>